html, body {
  height: 100%;
  margin: 0;
}

a:-webkit-any-link {
  text-decoration: none;
}

body {
  height: 100%;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-image: linear-gradient(to top, #f43b47 0%, #453a94 100%);
}

#app {
  font-size: 16px;
}

.home-button {
  background-color: transparent;
  border-color: white;
}

.home-button:hover {
  background-color: white;
  border-color: transparent;
  color: #f43b47;
}

.card-button {
  background-color: white;
  border-color: black;
  color: black;
  font-size: 10px;
}

.card-button:hover {
  background-color: rgb(214, 41, 107);
  color: white;
  border-color: rgb(214, 41, 107);
}

.p-colour {
  color: white;
}