html {
  height: 100%;
}
body {
  height: 100%;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-image: linear-gradient(to top, #f43b47 0%, #453a94 100%);
  font-family: 'Comfortaa', cursive;
}

a:-webkit-any-link {
  text-decoration: none;
}

hr {
  color: white;
  height: 10px;
}
